/* general styling  */
body {
    background-image: url("https://github.com/XavierG13/React-Portfolio/blob/4033dc6821bbaeacc407399036649245ff337cba/react-portfolio/src/assets/Images/brickwall.jpg?raw=true");
    background-position: center;
    background-size: cover;
}


/* card/project items styling */
#p-items {
    background-color: transparent;
}

#project-text {
    color: steelblue;
    text-transform: uppercase;
}

#project-image {
    padding: 15px;
    margin: auto;
    width: 500px;
    height: 300px;
    background-color: black;
    border-color: dimgray;
}

/* about me styling */
#Xavier {
    margin-top: 50px;
    border: 2px solid #ccc;
    padding: 10px;
    width: 25em;
    height: 500px;
}

#my-bio {
    padding: 25px;
}

.myBio {
    height: 1175px;
}

.aboutMe {
    border: 2px solid #ccc;
    text-align: justify;
    overflow: auto;
    padding: 10px;
    width: 25em;
    height: 500px;
}

/* contact styling */
#contact {
    margin-top: 25px;
}

#resume {
    background-color: white;
}

#email {
    background-color: white;
}

/* #social-images {} */

/* portfolio styling */
#projects {
    box-sizing: border-box;
    margin-top: 25px;
    color: darkgray;
    width: min-content;
    height: 500px;
    border: 1px solid darkgray;
    font: 16px/26px Georgia, Garamond, Serif;
    overflow: auto;
}

/* navbar styling  */

/* footer styling */
#footer {
    color: dodgerblue;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    align-content: center;
    background-color: black;
}